header
  nav.main-menu
    ul.main-menu__list
      li.main-menu__item: a.main-menu__item-link: i.fa.fa-home.main-menu__item-icon
      li.main-menu__item: a.main-menu__item-link.main-menu__item-title utab

