extends ../layout.pug

block head
  title Round 1 - #{ tournament_name }

block content
  section.page-header
    a.back-arrow(href="../index.html"): i.fa.fa-arrow-circle-o-left
    h1 Round 1
    h3 #{ tournament_name }

  section
    ul.menu-list
      li.menu-list__item: a.menu-list__item-link
        span.menu-list__item-link__text Draw &amp; Allocation
        i.fa.fa-chevron-right.menu-list__item-icon

  section
    h2.legend Debater
    ul.menu-list
      li.menu-list__item: a.menu-list__item-link
        span.menu-list__item-link__text Judge Evaluation Sheet
        i.fa.fa-chevron-right.menu-list__item-icon

  section
    h2.legend Adjudicator
    ul.menu-list
      li.menu-list__item: a.menu-list__item-link
        span.menu-list__item-link__text Score Sheet
        i.fa.fa-chevron-right.menu-list__item-icon

  section
    h2.legend Admin
    ul.menu-list
      li.menu-list__item: a.menu-list__item-link
        span.menu-list__item-link__text Login
        i.fa.fa-chevron-right.menu-list__item-icon
