  $opp-color = #41a9ad
  $gov-color = #3b8abf
  
  .card-container
    display flex
    flex-direction column
    justify-content space-between
    
    .gov,
    .opp
      flex 1
    
    .gov
      margin-bottom 2rem

  .gov .el-card__header
    background $gov-color
  .opp .el-card__header
    background $opp-color

  .el-card__header
    margin 0
    padding .5rem 1rem
    color #fff
    height auto
    
    & .card-header-container
      display flex
      justify-content space-between
      align-items baseline
    
      & .card-title
        flex 1
        margin-right .5rem
        font-size 1rem
        font-weight bold
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

      & .card-subtitle
        font-size 1rem
        text-align right

  .buttons
    display flex
    justify-content space-between
    align-items baseline
    margin-bottom 1rem
    
    & *
      flex 1
      margin 0 1rem
      
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0

  .el-form-item
    display flex
    justify-content space-between
    align-items bottom
    
    & .el-form-item__label
      flex 1
      margin-right 10px
    & .el-form-item__content
      flex 2
  
  .el-input__inner
    font-family inherit
  
  @media (min-width: 600px)
    .card-container
      flex-direction row
      
      .gov
        margin-right 1rem
        margin-bottom 0
      .opp
        margin-left 1rem

