
.menu-list
  margin 0
  padding 0
  display flex
  flex-direction column

ul.menu-list
  list-style none

.menu-list__item
  margin .3rem 0
  padding 0
  border-width 1px 0 0 10px
  border-style solid
  border-color #dadada $primary-color
  box-shadow 1px 1px 1px #555
  line-height 2rem

  &:first-child
    margin-top 0

  &:last-child
    margin-bottom 0

  &:hover
    background $primary-color
    color $text-color-primary__light
    cursor pointer
    border-color $primary-color

  &:not(:hover) .menu-list__item-icon:last-child
    color $primary-color

.menu-list__item-link
  display flex
  margin 0
  padding 5px 10px
  justify-content space-between
  align-items baseline

a.menu-list__item-link
  text-decoration none
  color inherit

.menu-list__item-link__text
  flex 1

