  $primary-color = #20a0ff

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
    -webkit-appearance none
    margin 0

  body
    background-color #f5f5f5
  #app-content
    margin 0
    padding 0
    width 100%
    min-height 100vh
  a
    text-decoration none
    color inherit
  main
    max-width 800px
    padding 5%
    padding-top 13vh

    & h1
      margin 0 0 2rem 0

  .el-table
    border-top solid 1px #dfe6ec
    border-left solid 1px #dfe6ec
    border-right solid 1px #dfe6ec
    th
      background-color rgb(245, 247, 250)
    td
      padding 0.5rem

  .el-tabs__item
    outline 0

  .el-collapse
    .el-collapse-item__header
      outline 0

  .el-tag
    background-color rgba(133, 216, 251, 0.84)

  .el-input__inner
    line-height unset

  //.el-step__head.is-process
  //  background $primary-color
  //  border-color $primary-color

  //.el-step__head.is-text.is-success .el-step__line
  //  background $primary-color

  .page-header
    display flex
    justify-content space-between
    flex-direction column
    align-items baseline

    & h1
      display inline-block
      flex 1
      margin 0
      padding 0
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      max-width 100%

      & + h3
        display inline-block
        margin 0
        padding 0
        font-size 1rem
        color rgba(0, 0, 0, .54)

  section
    margin-bottom 2rem



  .info-card
    width 97%
    margin auto
    margin-bottom 2rem
    font-family serif
    .el-card__header
      background-color #ff9242//#FF4949
      height 3rem
      .info-card-header
        white-space nowrap
        display flex
        justify-content space-between
        line-height 0rem
        font-weight unset
        .title
          width 95%
          text-align center
        .time
          position abolute
          text-align right
    .el-card__body
      padding-top 0.5rem
      //line-height 0rem
      padding-bottom 0
      //background-color #F9FAFC

  @media (min-width: 600px)
    .el-dialog
        width 550px

    main
      margin 0 auto
    .page-header
      flex-direction row

      & h1 + h3
        margin-left 1rem
        text-align right

  @media (max-width: 600px)
    .el-dialog
      width 90%
